<br>            
<form class="form-inline" action="#">
    <div class="form-group">
      <label >Location:&nbsp;&nbsp;</label>
      <input type="text" class="form-control" id="newLocationID">
    </div>
    <div class="form-group">
      <label >Name:&nbsp;&nbsp;</label>
      <input type="text" class="form-control" id="newnameID">
    </div>
    <div class="form-group">
      <label >Parent:&nbsp;&nbsp;</label>
      <input type="text" class="form-control" id="newparentID">
    </div>
    <div class="form-group">
      <label >Date:&nbsp;&nbsp;</label>
      <input type="text" class="form-control" id="newdateID">
    </div><p>&nbsp;&nbsp;</p>
    <button id='addLandButtonID' class="btn btn-primary" type="button">Register Person</button>
    <p style="font-size:0.75em;">&nbsp;&nbsp;Goverment only authorized</p>
</form>
<form class="form-inline" action="#">
    <div class="form-group">        
        <label class="mr-sm-2" for="inlineFormCustomSelectPref">New Account:</label>
        <input type="text" class="form-control" id="buyerAccountID">
    </div>
    <div class="col-3">Selected Certificate: <span id='selectedLandID'></span></div>
    <button id='transferLandButtonID' class="btn btn-primary" type="button">Transfer</button>
</form>  
<br>                           
 